<div class="editor-page">
  <div class="container page">


    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>

        <%= render "shared/error_messages" , obj: @article %>
        <%= render "form", article: @article %>

      </div>
    </div>
  </div>
</div>